.consultation {
    padding: 100px 0 108px 0; 
    min-height: 680px;
    background: url("../img/bg/consultation_bg.jpg") center center/cover no-repeat;
    &__title {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;    
        line-height: 54px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 8px;
    }
    &__form {
        margin-top: 36px;
    }
}