.form {
    width: 303px;
    display: flex;
    flex-direction: column;
    &__input {
        margin-top: 11px;
        font-weight: 400;
        font-size: 14px;
        color: #0D0D0D;
        border: none;
        border-radius: 5px;
        padding: 17px 20px;
        &::placeholder {
            color: #4B4B4B;
        }
        &.error {
            border: 1px solid red;
        }
    }
    &__button {
        margin-top: 17px;
    }
    &_popup {
        margin: 0 auto;
    }
}